body{
    max-width: 1900px;
    background-color: #dff0d8;
}

header{
    margin-left: 10%;
}

main{
    margin: auto;
    flex-flow: center;
}

.myrow{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    padding-top: 0;
    /*centering*/
    /*width:100vw;
    height:100vw;*/
}

.myrow-top{
    align-items: flex-start;/*center;*/
}

.myrow-bottom{
    align-items: flex-end;/*center;*/
}


.cir-container{
    padding: 0%; 
    width: 15vw;/*300px*/
    height: 15vw; /*300px*/
    z-index: 0;
    position: relative;

    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    /*text centering*/
}
.color-circle{
    border-radius: 50%;
    /*circling background*/
    
    margin: 0;
    width: 100%;/*100*/
    height: 100%; /*100*/
    z-index: 1;
    position: relative;

    display: -webkit-flex;
    display: flex;
    /*centering*/
    align-items: center;
    justify-content: center;
    /*text centering*/
}
.cir-text{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    /*text centering*/

    margin: auto;
     /*centering*/
    text-align: center;
    vertical-align: middle ;
   
    overflow: auto;
    
    width: 70%;
    height: 70%; 
    z-index: 2;
    position: relative;
    padding:5%;

    /*debug
    background-color: grey;*/
}

.cir-text div{
    display:none;
}
.cir-text h3{
    /*override part*/
    font-size: 100%;
     /*centering*/
    text-align: center;
    vertical-align: middle ;
}

.cir-content{
    text-align: center;
    vertical-align: middle ;
    margin: auto;
    /*text centering*/
    overflow: auto;
    z-index: 10;/*absolute top*/
}

.cir-content ul{
    font-size: 100%;
    margin: 1%;
    list-style-position: inside;
    text-align: left;
    padding: 0;
}

.cir-content ul li{
    margin: 1%;
}

.col4{
	float:left;
}
.col4r{
	float:right;
}

.col4 div>button{
	float:right;
    display: block;
}

.col4r div>button{
    float:left;
}

.grn{
	background: #BDB221;/*#3c763d;*/
}
.rd{
	background: #f5bca0;/*salmon;*/
}

.object{
    margin: 0;
    padding: 0;
}

footer{
    text-align: center;
}