header{
	text-align: center;
}

nav{
	width: 96%;
	margin: 0 2%;
}

main{
	width: 96%;
	margin: 0 2%;
	border-width: 1px;
	border-style: dotted;
}

.row{
	width: 100%;
	display: flex;
	justify-content: center ;
}

.row h3,h5{
	color: black;
	margin: 0;
}

.row ul{
	margin-top: 0;
}
.row div{
	border-width: 1px;
	border-style: solid;
	margin: 2%;
}

.row table{
	color: black;
	margin: 0 1%;
}

.row td{
	width: 50%;
}

.about{
	flex:1;

}
.skills{
	flex:2;
}
.experiences{
	flex:2;
}
.experiences p{
	background-color: white;
}
#job1,#job2{
	position: relative;
}
#job1:hover #job-1{
	display: block;
}
#job-1,#job-2{
	display: none;
	position: absolute;
	top:10%;
	left:10%;
    background-color: cadetblue;
    opacity: 0.9;
}
#job2:hover #job-2{
	display: block;
}
.bluebkgrnd{
	background-color: lightblue;
	color: cadetblue;
	text-align:right;
	float:right;
	position: relative;
	transform: translateY(-10px);
	top:-10%;
	}
.projects{
	flex:1;
}
#java-projects,#web-projects,#os-projects{
	position: relative;
}
#java-projects:hover #proj-java{
	display: block;
}
#proj-java,#proj-web, #proj-os{
	display: none;
	position: absolute;
	top:-1%;
    background-color: cadetblue;
    opacity: 0.9;
}
#web-projects:hover #proj-web{
	display: block;
}
#os-projects:hover #proj-os{
	display: block;
}
footer{
	text-align: center;
}

