/*left*/
/*right there is 2vw redandency for space*/
* {
  -webkit-transform-origin-x: 0px;
  -webkit-transform-origin-y: 0px;
  -webkit-transform-origin-z: initial;
}
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.page-title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #e7dfdd;
}
.contacts,
.nav {
  height: 40px;
  padding-top: 15px;
}
.nav .nav-item {
  color: #e7dfdd;
  display: inline-block;
  font-size: 12px;
  letter-spacing: 1.2px;
  font-weight: 300;
}
.nav .nav-item:hover {
  color: #737CFB;
  cursor: pointer;
}
.page-sec {
  min-height: 300px;
}
.sec-title {
  padding-left: 30px;
  padding-right: 30px;
  color: #0e0816;
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: 450;
  padding-top: 30px;
}
.sec-title:after {
  content: '';
  display: block;
  width: 17%;
  height: 6px;
  background: #4717f6;
  margin-top: 15px;
  margin-bottom: 30px;
}
.dark {
  background-color: #0e0816;
}
.dark .sec-title {
  color: #fff;
}
.dark .sec-title:after {
  background: #737CFB;
}
.header {
  border-bottom: 1px solid ;
  padding: 15px 25px;
  background-color: #0e0816;
}
.m-t-5 {
  margin-top: 50px;
}
.m-b-5 {
  margin-bottom: 50px;
}
.p-t-5 {
  padding-top: 50px;
}
.p-b-5 {
  padding-bottom: 50px;
}
.col_5 {
  position: relative;
  float: left;
  width: 41%;
  margin: 0;
}
.col_4 {
  position: relative;
  float: left;
  width: 33%;
  margin: 0;
}
.col_3 {
  position: relative;
  float: left;
  width: 25%;
  margin: 0;
}
.pics_tile .slide_container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  -webkit-transition: -webkit-transform 2s ease;
  -moz-transition: -moz-transform 2s ease;
  -ms-transition: -ms-transform 2s ease;
  transition: transform 2s ease;
}
.pics_tile .slide_container.opened {
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}
.pics_tile .slide_container.closed {
  -webkit-transform: translate(100%, 0%);
  -moz-transform: translate(100%, 0%);
  -ms-transform: translate(100%, 0%);
  transform: translate(100%, 0%);
}
.pics_tile .slide_holder {
  width: 300px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
}
.pics_tile .image_holder {
  width: 900px;
  height: 98%;
  margin-top: 1%;
  clear: both;
  position: relative;
  overflow-x: hidden;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}
.pics_tile .slide_image img {
  height: 100%;
  width: 100%;
  margin: auto;
}
.pics_tile div.slide_image {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 300px;
  height: 100%!important;
}
.pics_tile #slide_image_1:target ~ .image_holder {
  left: 0px;
}
.pics_tile #slide_image_2:target ~ .image_holder {
  left: -300px;
}
.pics_tile #slide_image_3:target ~ .image_holder {
  left: -600px;
}
.pics_tile .navi_holder {
  position: absolute;
  z-index: 5;
  margin-bottom: 0;
  height: 15%;
  min-height: 30px;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  padding: 0;
  opacity: 0.5;
  bottom: 0;
}
.pics_tile .slide_navi {
  cursor: pointer;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0;
  border-radius: 5px;
  background-color: brown;
  z-index: 5;
}
.pics_tile .slide_navi.active {
  background-color: #88B04B;
}
.top_r {
  position: fixed;
  background-color: #4717f6;
  color: #e7dfdd;
  width: 20px;
  height: 20px;
  display: float;
  z-index: 10;
  cursor: pointer;
  right: 25px;
  bottom: 25px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
}
.top_r:hover {
  background-color: #a239ca;
  color: #e7dfdd;
}
.pics.horizantal {
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e0816;
}
.pics.horizantal > h3,
.pics.horizantal h4,
.pics.horizantal h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0e0816;
}
.pics.horizantal .slide_container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}
.pics.horizantal .slide_holder {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
}
.pics.horizantal .image_holder {
  width: 300%;
  height: 99.5%;
  margin-top: 0;
  clear: both;
  position: relative;
  overflow-x: hidden;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}
.pics.horizantal .slide_image img {
  height: 99%;
  width: auto;
  /* max-width: 600px; */
  /* max-height: 215px; */
  margin: auto;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}
.pics.horizantal div.slide_image {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 33.3%;
  height: 100%!important;
}
.pics.horizantal #slide_image_1:target ~ .image_holder {
  left: 0px;
}
.pics.horizantal #slide_image_2:target ~ .image_holder {
  left: -300%;
}
.pics.horizantal #slide_image_3:target ~ .image_holder {
  left: -600%;
}
.pics.horizantal .navi_holder {
  position: absolute;
  z-index: 5;
  margin-bottom: 0;
  height: 15%;
  min-height: 30px;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  padding: 0;
  opacity: 0.5;
  bottom: 0;
}
.pics.horizantal .slide_navi {
  cursor: pointer;
  display: block;
  height: 10px;
  width: 10px;
  margin: 15px 0;
  border-radius: 5px;
  background-color: #e7dfdd;
  z-index: 5;
}
.pics.horizantal .slide_navi.active {
  border-radius: 5px;
  border: 1px solid #e7dfdd;
  background-color: transparent;
}
.pics.vertical {
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e0816;
}
.pics.vertical > h3,
.pics.vertical h4,
.pics.vertical h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0e0816;
}
.pics.vertical .slide_container {
  width: 100%;
  height: 400px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}
.pics.vertical .slide_holder {
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
}
.pics.vertical .image_holder {
  width: 100%;
  height: 1200px;
  margin-top: 0;
  clear: both;
  position: relative;
  overflow-x: hidden;
  -webkit-transition: top 2s;
  -moz-transition: top 2s;
  -o-transition: top 2s;
  transition: top 2s;
}
.pics.vertical .slide_image img {
  height: 99%;
  width: auto;
  /* max-width: 600px; */
  /* max-height: 215px; */
  margin: auto;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}
.pics.vertical div.slide_image {
  margin: 0px;
  padding: 0px;
  position: relative;
  height: 400px;
  width: auto;
}
.pics.vertical #slide_image_1:target ~ .image_holder {
  top: 0px;
}
.pics.vertical #slide_image_2:target ~ .image_holder {
  top: -400px;
}
.pics.vertical #slide_image_3:target ~ .image_holder {
  top: -800px;
}
.pics.vertical .navi_holder {
  position: absolute;
  z-index: 5;
  margin-bottom: 0;
  /* height: 15%; */
  min-height: 30px;
  width: 16px;
  /* left: 50%; */
  padding: 0;
  opacity: 1;
  bottom: 50%;
  right: 10px;
}
.pics.vertical .slide_navi {
  cursor: pointer;
  display: block;
  height: 10px;
  width: 10px;
  margin: 15px 0;
  border-radius: 5px;
  background-color: #e7dfdd;
  z-index: 5;
}
.pics.vertical .slide_navi.active {
  border-radius: 5px;
  border: 1px solid #e7dfdd;
  background-color: transparent;
}
.pics_tile {
  padding: 0!important;
  background-color: white;
  height: 50%;
  overflow-x: hidden;
}
.board h3,
.board h4,
.board h5 {
  color: #496320;
}
.board > div {
  height: 100%!important;
}
.board .flipOn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2% 5%;
  min-height: 50%;
  width: 100%;
  cursor: pointer;
  overflow-y: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  background-color: #bac788;
}
.board .flipOn h3,
.board .flipOn h4,
.board .flipOn h5 {
  color: #496320;
}
.board .flipOn .flip_link {
  color: #fcd388;
}
.board .flipOn.art {
  background-image: url("../img/others/artlover_w_1.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.board .flipOn.programmer {
  background-image: url("../img/others/programmer_w.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.board .flipOff {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 50%;
  width: 100%;
  padding: 2% 5%;
  cursor: pointer;
  overflow-y: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  color: #88B04B;
  background-color: #496320;
}
.board .flipOff h3,
.board .flipOff h4,
.board .flipOff h5 {
  color: #bac788;
}
.board .flipOff .flip_link {
  color: #fcd388;
}
.board.flipped .flipOn {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.board.flipped .flipOff {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
.desc {
  height: 45%;
  padding-top: 1%;
  color: #496320;
  transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -ms-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  -webkit-transition: height 0.5s ease;
}
.desc > * {
  z-index: 5;
}
.desc h3,
.desc h4,
.desc h5 {
  color: #88B04B;
}
.desc .link {
  color: #55b9b6;
}
.desc .link:hover {
  cursor: pointer;
}
.desc .wrap {
  color: #55b9b6;
}
.desc .wrap:hover {
  cursor: pointer;
}
.desc p {
  background-color: #ffffff;
  z-index: 5;
}
.desc .slide_d {
  padding: 2px;
  height: 100%;
  /* only transition on transform properties which are hardware accelerated = way better performances */
  -webkit-transition: -webkit-transform 1.5s ease;
  -moz-transition: -moz-transform 1.5s ease;
  -ms-transition: -ms-transform 1.5s ease;
  transition: transform 1.53s ease;
}
.desc .slide_d.opened {
  /* visible */
  opacity: 1;
  z-index: 0!important;
  visibility: visible;
  -webkit-transform: translate(0, 0%);
  -moz-transform: translate(0, 0%);
  -ms-transform: translate(0, 0%);
  transform: translate(0, 0%);
}
.desc .slide_d.closed {
  opacity: 0;
  z-index: 0!important;
  visibility: hidden;
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
.desc.high {
  overflow-y: auto;
}
.desc::-webkit-scrollbar {
  display: none;
}
.greenery_bkgd {
  background-color: #88B04B;
}
.light_green_bkgd {
  background-color: #bac788;
}
.coding_stuff_tile {
  background-image: url("../img/myDraw/stationary.png");
  background-repeat: repeat;
  background-size: 120% auto;
  overflow-y: hidden;
}
.mytooltip {
  position: relative;
  display: inline-block;
}
.mytooltip .mytooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #88B04B;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}
.mytooltip .mytooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #88B04B transparent transparent transparent;
}
.mytooltip:hover .mytooltiptext {
  visibility: visible;
  opacity: 1;
}
b.highlight {
  color: #88B04B;
  cursor: pointer;
}
