header{
	text-align: center;
}

body{
	margin: 5%;
	color:#264040;
	background-color: #b6e1fc;
}

nav{
	text-align: center;
}

nav{
	text-align: center;
	margin: 0 2%;
	padding: 0 10%;
	font-size: 120%;
	/*background-color: #e2cfb6;*/
}

h1{
	color: #006080;
	font-weight: bold;
}

h3,h5{
	margin:1% 0;
	color: #006080;
}
/* unvisited link */
a:link {
    color: teal;
}

/* visited link */
a:visited {
    color: teal;
}

/* mouse over link */
a:hover {
    color: darkcyan;
}

.bluebkgrnd{
	float:right;
	position: relative;
}

#java-projects,#web-projects,#os-projects{
	opacity: 1;
	padding: 2%;
}

#proj-java,#proj-web, #proj-os{
    padding: 2%;
}

button{
	background-color: lightblue;
	color: darkslategray;
	float:right;
}

footer{
	text-align: center;
}