body{
    min-width: 100px;
    background-color: #E7DFAD;
}

header{
    margin-left: 5%;
}


.myrow{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    padding-top: 0;
    /*centering*/
    /*width:100vw;
    height:100vw;*/
}

.myrow-top{
    /*align-items: flex-start;center;*/
}

.myrow-bottom{
    /*align-items: flex-end;center;*/
}


.cir-container{
    padding: 0%; 
    margin:auto;
    width: 15vw;/* 300px */
    height: 15vw; /*300px*/
    z-index: 0;
    position: relative;

    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    /*text centering*/
}
.color-circle{
    border-radius: 0%;
    /*circling background*/
    
    margin: 0;
    width: 100%;/*100*/
    height: 100%; /*100*/
    z-index: 1;
    position: relative;

    display: -webkit-flex;
    display: flex;
    /*centering*/
    align-items: center;
    justify-content: center;
    /*text centering*/
}
.cir-text{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    /*text centering*/

    margin: auto;
     /*centering*/
    text-align: center;
    vertical-align: middle ;
   
    overflow: auto;
    
    width: 100%;
    height: 100%; 
    z-index: 2;
    position: relative;
    padding:4%;


    /*debug
    background-color: lightgrey;*/
}

.cir-text div{
    display:none;
}

.cir-text .title{
    /*override part*/
    font-size: 2.6vw;
    font-weight: bold;
     /*centering*/
    text-align: center;
    vertical-align: middle ;

    cursor: pointer;
}

.cir-content{
    text-align: center;
    vertical-align: middle ;
    margin: auto;
    /*text centering*/
    overflow: auto;
    z-index: 10;/*absolute top*/
    width: 100%;
    font-size:3vw;
}

.cir-content table{
    margin: auto;
}

.cir-content table td{
    text-align: left;
    /*border-bottom: 1px solid #BDB221;*/
    font-size:2.5vw;
}

.cir-content tr:nth-child(even) {background-color: #BDB221;}

.cir-content table th {
    /*background-color: #BDB221;
    */
    text-align: left;
    font-size:3vw;
}

.cir-content ul{
    font-size: 3vw;
    margin: 1%;
    list-style-position: inside;
    text-align: left;
    padding: 0;
}

.cir-content ul li{
    margin: 1%;
}

.cir-content ul li ul{
    font-size: 2.7vw;
    margin: 0%;
    list-style-position: outside;
    list-style-type: none;
    text-align: left;
    padding: 0;
}


.col4{
	float:left;
}
.col4r{
    float:right;
}

.col4 div>button,.col4r div>button{
    /*float:right;*/
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    display: block;
}

.grn{
	/*background: #73AD21;*/
}
.rd{
	/*background: salmon;*/
}

.detail-title{
    cursor: pointer;
}

.detail{
 color: grey;
 cursor: pointer;
}

footer{
    text-align: center;
}
